<form [formGroup]="registerSitterForm" novalidate (submit)="onSubmitRegister(registerSitterForm)">

  <div>
    <label>First name:
      <input id="firstname" formControlName="firstname">
    </label>
  </div>

  <div>
    <label>Last name:
      <input id="lastname" formControlName="lastname">
    </label>
  </div>

  <div>
    <label>Age:
      <input id="age" formControlName="age">
    </label>
  </div>

  <div>
    <label>Years of experience:
      <input id="years" formControlName="yearsOfExperience">
    </label>
  </div>

  <div>
    <label>Region:
      <input id="region" formControlName="region">
    </label>
  </div>

  <div>
    <label>Gender:
      <input id="gender" formControlName="gender">
    </label>
  </div>

  <div>
    <label>Phone:
      <input id="phone" formControlName="phone">
    </label>
  </div>

  <div class="error" *ngIf="registerSitterForm.controls.firstname.errors?.required && registerSitterForm.controls.firstname.touched ||
                               registerSitterForm.controls.lastname.errors?.required && registerSitterForm.controls.lastname.touched ||
                               registerSitterForm.controls.age.errors?.required && registerSitterForm.controls.age.touched ||
                               registerSitterForm.controls.yearsOfExperience.errors?.required && registerSitterForm.controls.yearsOfExperience.touched ||
                               registerSitterForm.controls.region.errors?.required && registerSitterForm.controls.region.touched ||
                               registerSitterForm.controls.gender.errors?.required && registerSitterForm.controls.gender.touched ||
                               registerSitterForm.controls.phone.errors?.required && registerSitterForm.controls.phone.touched">
    Please fill out all fields
  </div>

  <button id="e2e-submit" type="submit">Register</button>

</form>
