<form [formGroup]="registerBabyForm" novalidate (submit)="onSubmitRegisterBaby(registerBabyForm)">

  <div>
    <label>First name:
      <input id="firstname" formControlName="firstName">
    </label>
  </div>

  <div>
    <label>Postal code:
      <input id="postalCode" formControlName="postalCode">
    </label>
  </div>

  <div>
    <label>Age:
      <input id="age" formControlName="age">
    </label>
  </div>

  <div>
    <label>Picture:
      <input id="picture" formControlName="picture">
    </label>
  </div>

  <div>
    <label>Gender:
      <input id="gender" formControlName="gender">
    </label>
  </div>

  <button id="e2e-submit" type="submit">Register</button>

</form>
