<form [formGroup]="registerForm" novalidate (submit)="onSubmitRegister(registerForm)">

  <div>
    <h3>Not a user? Register below</h3>
  </div>

  <div>Register as:
    <label><input type="radio" formControlName="type" value="sitter"/>Sitter</label>
    <label><input type="radio" formControlName="type" value="baby"/>Baby</label>
  </div>

  <br/>

  <div *ngIf="registerForm.controls.type.value == 'sitter'">
    <app-register-sitter></app-register-sitter>
  </div>

  <div *ngIf="registerForm.controls.type.value == 'baby'">
    <app-register-baby></app-register-baby>
  </div>

</form>
